@use 'variables';

.blog-posts {
	padding-top: 60px;
	padding-bottom: 60px;
}

.blog-posts .blog-post-wrapper {
	display: flex;
	margin-top: 15px;
	margin-bottom: 15px;
}

.blog-posts .blog-post-wrapper a {
	display: flex;
}

.blog-posts .blog-post {
	display: flex;
	align-items: center;
	transition: .2s;
	cursor: pointer;
	margin-bottom: 15px;
}

.blog-posts .blog-post > .wrapper {
	display: block;
	padding: 30px;
	background-color: #f1f1f1;
	flex-grow: 1;
}

.blog-posts .blog-post > .wrapper:hover {
	background-color: #ccc;
	transition: .2s;
}

.blog-posts a.permalink {
	flex-grow: 1;
}

.blog-posts a:hover {
	text-decoration: none;
}

.blog-post h3, .blog-post p {
	color: #212529;
}

.blog-post p {
	margin-bottom: 0;
}

.blog-post img {
	width: 100%;
}

.blog-post .blog-content {
	display: flex;
	align-items: center;
}

.blog-posts .pagination {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.pagination .page-numbers {
	height: 50px;
	width: 50px;
	background: #f1f1f1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 3px;
	color: #212529;
}

.pagination .page-numbers:hover {
	background: #ddd;
}

.pagination .page-numbers.current {
	background: #ccc;
}


.cat_post-layout {
	&:hover {
		text-decoration: none;
		img {
			opacity: 0.75;
			transition: 0.3s all ease;
		}
		a {
			text-decoration: none;
			h2 {
				color: #464646;
				transition: 0.3s all ease;	
			}
		}
		.button-primary {
			background: #464646;
			transition: 0.3s all ease;
		}
	}
	img {
		width: 100%;
		height: auto;
		margin-top: 15px;
		margin-bottom: 15px;
		transition:0.3s all ease;
	}
	a {
		h2 {
			color: #EE7B00;
			font-size: 22px;
			margin-top: 15px;
			transition:0.3s all ease;
			text-transform:uppercase;
		}
	}
	span {
		font-size: 16px;
		color: #464646;
		transition:0.3s all ease;
		svg {
			margin-right: 10px;
			transition:0.3s all ease;
		}
	}

	.button-primary {
		display: block;
		max-width: 131px;
		margin-top: 15px;
		margin-bottom: 15px;
		transition:0.3s all ease;
	}

}

.archive .hero_block + .container {padding-top: 60px;}

.category-filter {
	label {
		color: #EE7B00;
		font-weight: 600;
		margin-right: 23px;
	}
}
.select_category {
	background: #F4F4F4 !important;
	width: 340px;padding: 10px;
	border-radius: 0 0 25px 0 !important;
	border: 0 !important;
	padding-right: 4px !important;
}

.popular-posts {
	overflow: hidden;
	.row {
		border-bottom: 1px solid #ccc;
		padding-top: 30px;
		padding-bottom: 30px;
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
	}
	h2 {
		background: #484847;
		padding: 15px;
		margin-top: 30px;
		color: #fff;
		font-size: 22px;
		border-radius: 0 0 25px 0;
		span {
			color: #EE7B00;			
		}
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
			img {
				opacity: 0.75;
				transition: 0.3s all ease;
			}
			h3 {
				color:  #464646;
				transition: 0.3s all ease;
			}  
			button {
				svg {
					margin-left: 10px;
					transition: 0.3s all ease;
				}
			}
		}
		img {
			width: 100%;
			height: auto;
			transition: 0.3s all ease;
		}
		h3 {
			font-size: 15px;
			color: #EE7B00;
			transition: 0.3s all ease;
		}
		span {
			color: #464646;
			font-size: 14px;
			transition: 0.3s all ease;
		}
		button {
			svg {
				margin-left: 5px;
				transition: 0.3s all ease;
			}
		}
	}
}

.need_help-form {
	background: #484847;
	padding: 30px;
	border-radius:  0 0 25px 0;
	margin-top: 30px;
 	h2 {

		 font-size: 40px;
	   }
	p {
		color: #fff;
		font-size: 16px;
		color: #fff;
		font-style: italic;
	}
	input {
		border: 0;
	}
	select {
		border: 0;
	}
}

span.page-numbers.current {background: #EE7B00 !important;color: #fff;}

.pagination span, .pagination a {border-radius: 11px;width: auto !important;padding: 22px;}

.pagination a:hover {
	background: #EE7B00 !important;color: #fff; text-decoration: none;
}