@use 'variables';

.testimonial-posts {
	padding-top: 60px;
	padding-bottom: 60px;
}

.testimonial-posts .testimonial-post-wrapper {
	display: flex;
	margin-top: 15px;
	margin-bottom: 15px;
}

.testimonial-posts .testimonial-post-wrapper a {
	display: flex;
}

.testimonial-posts .testimonial-post {
	display: flex;
	align-items: center;
	transition: .2s;
	cursor: pointer;
	margin-bottom: 15px;
}

.testimonial-posts .testimonial-post > .wrapper {
	display: block;
	padding: 30px;
	background-color: #f1f1f1;
	flex-grow: 1;
}

.testimonial-posts .testimonial-post > .wrapper:hover {
	background-color: #ccc;
	transition: .2s;
}

.testimonial-posts a.permalink {
	flex-grow: 1;
}

.testimonial-posts a:hover {
	text-decoration: none;
}

.testimonial-post h3, .testimonial-post p {
	color: #212529;
}

.testimonial-post p {
	margin-bottom: 0;
}

.testimonial-post img {
	width: 100%;
}

.testimonial-post .testimonial-content {
	display: flex;
	align-items: center;
}

.testimonial-posts .pagination {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.pagination .page-numbers {
	height: 50px;
	width: 50px;
	background: #f1f1f1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 3px;
	color: #212529;
}

.pagination .page-numbers:hover {
	background: #ddd;
}

.pagination .page-numbers.current {
	background: #ccc;
}
