.button {
    border-radius: 0 0 25px 0;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    padding: 20px;
    &.button-primary {
        background: #EE7B00;
        color: #fff;
    }
    &.no-button {
        color: #464646;
        font-size: 14px;
        padding: 0;
        border-radius: 0;
        border: 0;
        background: transparent;
        display: block;
        font-weight: 600;
        padding-top: 10px;
    }
}  

.forminator-button-submit {color: #fff;}