.case-study_content {
    display: flex;
    align-items: end;
    height: 100%;
    overflow: hidden;
    position: relative;
    .case-study_content_inner {
        background: #484847;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 45px;
        margin-left: 30px;
        z-index: 10;

        h3 {
            color: #EE7B00;
            font-size: 22px;
            font-weight: 600;
        }
        p {
            font-size: 16px;
            color: #fff;
        }
    }

}

.case-study {
    overflow: hidden;
    a:hover {
        text-decoration: none;
    }
    .item {
        background-size: 100%;
        transition:0.3s all ease;
        &:hover {
            background-size: 120%;
            transition:0.3s all ease;
            text-decoration: none;
        }
    }
}

.case-study.small:first-child {
    margin-bottom: 30px;
}

.container {
    max-width: 1400px !important;
    width: 100%;
}

.filters .filters {
    max-width: 1035px;
    margin: 0 auto;
}

.border-line {width: 100%;position: absolute;border-top: 2px solid #fff;bottom: 105px;z-index:1;}

.col-md-8 .case-study {height: 700px;margin-bottom: 30px;margin-top: 30px;}

.col-md-4 .case-study {height: 335px;margin-top: 30px;}

.col-md-4 .case-study:first-child {margin-bottom: 30px !important;}

.filters {
    background: #484847;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    a {
        color: #fff;
    }
}

.case-study-slider .slick-slide {
    position: relative !important;
    height: 100% !important;
}
.case-study-slider .slick-slide div {
    display: none !important;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute !important;
}

.case-study-slider .slick-slide.slick-center div {
    display: flex !important;
}