@use 'variables';

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
.spacing {
    padding-top: 60px;
}

body {
	font-family: 'Montserrat', sans-serif !important;
	overflow-x: hidden;
}

.container {
	max-width: 1400px;
	width: 100%;
	&.no-gutters {
		padding: 0;
	}
	.container {
		padding: 0;
	}
}

.row {
	flex-grow: 1;
}

