.forminator-label {display: none !important;}

input, select, textarea {border-radius: 20px !important;border: 2px solid #707072 !important; background:#fff !important;}

span.selection {border: 0 !important;}

span.select2-selection.select2-selection--single {border: 2px solid #707072 !important;border-radius: 20px; background:#fff !important;}

span.forminator-icon-chevron-down {background: #EE7B00;padding: 5px;border-radius: 100%;color: #fff;}

span.forminator-select-dropdown.forminator-custom-form-158.forminator-dropdown--default.forminator-select-dropdown--below {background: #fff;border: 2px solid #EE7B00;}

button.forminator-button.forminator-button-submit {background-color: #ee7b00 !important;width: 100% !important;text-align: left !important;border-radius: 100px !important;padding-left:  30px !important;border: 2px solid #ee7b00 !important;}

button.forminator-button.forminator-button-submit:hover {color: #ee7b00 !important;background: #fff !important;box-shadow: none !important;}

ul, li {list-style: none;}

ul li img {max-width: 30px;margin-right: 10px;}

.two_column_content li {margin-bottom: 10px;}

.two_column_content li img, .two_column_content li h3 {display: inline-block;position: relative;}

.two_column_content h3 {color: #EE7B00;font-weight: 600;font-size: 26px;top: 5px;}

.two_column_content li a {
    color: #484847;
    font-weight: 600;
    font-size: 26px;
    top: 5px;
    display: inline-block;
    position: relative;
}