.post-container {
    margin-top: 60px;
    min-height: 570px;
    background-size: cover !important;
    background-repeat: no-repeat;
    border-top: 15px solid #EE7B00;
    border-radius: 0 0 25px 0;
    transition: 0.3s all ease;
    overflow: hidden;
    cursor: pointer;
    .post-container-inner {
        background: #F4F4F4; 
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        min-height: 570px;
        a {
            svg {
                top: -1px;  
                display: inline-block;
                position: relative;
                transition:0.3s all ease;
                margin-left: 3px;
            }
        }
        span {
            padding-bottom: 5px;
            svg {
                margin-right: 5px;
            }
        }
    }
    .line {
        padding-top: 15px;
        padding-bottom: 15px;
        &:after {
            content: "";
            height: 2px;
            width: 110%;
            background: #fff;
            display: block;
            position: relative;
            right: 0%;
        }
    }
    a {
        color: #484847;
    }
    &:hover {
        transition: 0.3s all ease;
        background: #000000CC;
        span {
            color: #fff;
        }
        p {
            color: #fff;
        }
        a {
            color: #fff;
            text-decoration: none;
            svg {
                margin-left: 5px;
                transition:0.3s all ease;
            }
        }
        .post-container-inner  {
            transition: 0.3s all ease;
            background: #000000B3;         
        }
    }
}