.column_container {
    background: #F4F4F4;
    border-radius: 0 0 25px 0;
    .column_container-image {
        width: 100%;
        img { 
            width: 100%;
            height: auto;
        }
    }
    
    .column_container-content {
        padding: 25px;
        h2 {
            color: #EE7B00;
            font-size: 22px;
            font-weight: 700;
        }
        p {
            font-size: 16px;
            line-height: 25px;
            color: #484847;
        }
        .button {
            position: absolute;
        }
    }

}

.column_container:hover .button {background: #484847;}

.button:hover {text-decoration: none;}

.page-id-171 .fancy-slider {margin-top: 80px;}