.map-container {
    img { 
        width: 100%;
    }
    .pin {
        max-width: 30px;
    }
} 

.col-md-4.solutions {display: flex;justify-content: center;align-items: center;}

.solutions_content { 
    sub {line-height: 1;font-weight: 600;padding-bottom: 15px;display: block; font-size: 16px;}
    h2 { padding-bottom: 5px; font-size: 36px; }
    p  { font-size: 16px; }
}

.map {margin-bottom: 60px;}