@use 'variables';

.page_not_found {
	min-height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f1f1f1;
}

.page_not_found .container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.page_not_found .container .wrapper {
	display: block;
}
