.details {height: 75px;position: absolute;bottom: 20px;left: 40px;background: #484847;padding: 10px;width: 200px;}

.person {height: 400px;background-size: 100%;background-position: center;display: flex;border-top: 10px solid #ee7b00;border-radius: 0 0 33px 0;}

.details h3 {color: #EE7B00;font-size: 20px;font-weight: 600;}

.details sub {color: #fff;}

.person .line {width: 100%;height: 2px;background: #fff;bottom: 59px;position: absolute;}

.person {overflow: hidden;}