.case-study-detail {background: #F4F4F4;border-radius: 0 0 25px;margin-bottom: 15px;padding: 15px;}

.case-study-detail label {font-weight: 700;color: #EE7B00; padding-right: 3px;}


.slickslider {
    overflow: hidden;
}
.slicksliders .slick-slide {
    width: 600px !important;
    transition:0.3s all ease;
    img {
        width: 100% !important;
        padding: 30px !important;
    }
    &.slick-center {
        width: 800px !important;
        transition:0.3s all ease;
        img {
            width: 100% !important;
            padding: 30px !important;
        }
    }

}

.plot-point {
    z-index: 901;
    display: none !important;
}

.slick-center .plot-point {
    display: block;
}

.plot-point:hover {
    .point-hover {
        opacity: 1;
        transition: 0.3s all ease;
        z-index: 900;
    }
}
.point-hover {opacity: 0; transition: 0.3s all ease; z-index: -1; position: absolute;background: #F4F4F4;display: flex;flex-direction: column;padding: 11px;width: 273px;border-radius: 0 0 25px 0;height: initial !important;margin-top: 113px;margin-left: -283px;z-index: 10;}

.point-hover h3 {font-size: 16px;font-weight: 600;color: #EE7B00;}

.point-hover p {font-size: 14px;}


.grey-quote-box {
    background: #484847;
}

.grey-quote-box p {color: #fff;}

.grey-quote-box {
    padding-top: 300px;
    border-radius: 0 0 300px 0;
    padding-left: 100px;
    padding-right: 225px;
    padding-bottom: 80px;
    margin-top: -245px;
    position: relative;
    z-index: -1;
}

.grey-quote-box:before {background: #484847;content: "";height: 100%;width: 500px;display: block;position: relative;z-index: -1;left: -200px;top: 0;position: absolute;}

.bar {background: #ee7b00;display: inline-block;padding: 10px;border-radius: 0 0 25px 0;padding-right: 30px;padding-right: 30px;margin-left: 30px;}

.contact-bar {padding-left: 60px;margin-top: -25px;}

.bar a {color: #fff;text-decoration: none;}