.case-studies-header {
  background: #000;
  padding: 30px;
  font-size: 32px;
  color: #fff;
  text-align: center; }

.filters li {
  border-right: 1px solid #fff;
  padding-right: 48px; }

.filters li:last-child {
  border: 0;
  padding: 0; }

.filters li a:hover {
  color: #fff; }

.pagination span, .pagination a {
  display: inline-block !important;
  width: auto !important;
  padding: 20px !important;
  padding-top: 14px !important; }
