.fancy-slider {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden; }
  .fancy-slider svg {
    width: 95%; }

.large-circle {
  height: 600px;
  width: 600px;
  border-radius: 100%;
  border: 25px solid #484847;
  display: flex;
  align-items: center;
  justify-content: center; }

.inner-circle {
  width: 75%;
  height: 75%;
  border: 2px solid grey;
  border-radius: 100%; }

.float {
  border: 2px solid #EE7B00;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; }
