.post-container {
  margin-top: 60px;
  min-height: 570px;
  background-size: cover !important;
  background-repeat: no-repeat;
  border-top: 15px solid #EE7B00;
  border-radius: 0 0 25px 0;
  transition: 0.3s all ease;
  overflow: hidden;
  cursor: pointer; }
  .post-container .post-container-inner {
    background: #F4F4F4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    min-height: 570px; }
    .post-container .post-container-inner a svg {
      top: -1px;
      display: inline-block;
      position: relative;
      transition: 0.3s all ease;
      margin-left: 3px; }
    .post-container .post-container-inner span {
      padding-bottom: 5px; }
      .post-container .post-container-inner span svg {
        margin-right: 5px; }
  .post-container .line {
    padding-top: 15px;
    padding-bottom: 15px; }
    .post-container .line:after {
      content: "";
      height: 2px;
      width: 110%;
      background: #fff;
      display: block;
      position: relative;
      right: 0%; }
  .post-container a {
    color: #484847; }
  .post-container:hover {
    transition: 0.3s all ease;
    background: #000000CC; }
    .post-container:hover span {
      color: #fff; }
    .post-container:hover p {
      color: #fff; }
    .post-container:hover a {
      color: #fff;
      text-decoration: none; }
      .post-container:hover a svg {
        margin-left: 5px;
        transition: 0.3s all ease; }
    .post-container:hover .post-container-inner {
      transition: 0.3s all ease;
      background: #000000B3; }
