@use 'variables';
.footer-content {
  padding: 30px;
  background: #ee7b00;
  border-radius: 0 0 25px;
  text-align: center;
  color: #fff;
  margin-bottom: -95px;
  z-index: 100;
  background: #ee7b00;
  border-radius: 0 0 25px;
  text-align: center;
  color: #fff;
  display: block;
  position: relative;
  margin-top: 60px; }
  .footer-content h2 {
    color: #fff;
    font-size: 48px; }

footer {
  background: #484847;
  padding-top: 180px;
  padding-bottom: 60px;
  color: #fff; }
  footer p {
    font-size: 16px;
    color: #fff; }
    footer p span:first-child {
      color: #ee7b00; }

footer .container .footer-logo {
  margin-bottom: 30px; }

footer .col-6 {
  display: flex; }

footer .col-6:first-of-type {
  justify-content: flex-start; }

footer .col-6:last-of-type {
  justify-content: flex-end; }

.footer-constants {
  display: block; }

.small-print {
  display: flex; }

.small-print a {
  padding: 0 12px;
  color: #fff;
  line-height: 14px; }

.small-print a:first-of-type {
  padding-left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.5); }

.small-print a:hover {
  text-decoration: none;
  color: #DCB12B; }

.contact-wrapper {
  display: block; }

.contact-wrapper p {
  margin-bottom: 0; }

.contact-wrapper a {
  display: block;
  color: #fff;
  text-align: right; }

.contact-wrapper a:hover {
  text-decoration: none;
  color: #DCB12B; }

.contact-details a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
  margin-left: 5px; }

.contact-details {
  max-width: 607px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto; }

.credits-inner {
  color: #484847;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px; }

.credits-inner a {
  color: #484847; }

ul#footer-navigation li a {
  font-size: 16px;
  color: #fff !important;
  font-weight: 500;
  margin-bottom: 5px !important;
  display: block; }
