@use 'variables';
header {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 -6px 8px #000000a4;
  border-bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000; }

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header .container img {
  max-height: 120px; }

.icons div {
  display: inline-block;
  padding-right: 5px; }

.icons div:last-child {
  padding-right: 0; }

.icons svg {
  cursor: pointer; }

input.form-control {
  padding: 8px;
  border-radius: 100px !important;
  position: absolute;
  left: -221px;
  top: -5px;
  opacity: 0;
  transition: 0.3s all ease;
  z-index: -1; }
  input.form-control.active {
    opacity: 1 !important;
    z-index: 100; }

.search-icon {
  position: relative; }

.right-container div {
  display: inline-block; }

.show-phone a {
  opacity: 0;
  z-index: -1;
  transition: .3s all ease;
  background: #ee7b00 !important;
  color: #fff;
  padding: 10px;
  border-radius: 100px;
  position: absolute;
  padding-left: 25px;
  top: -25px;
  left: -240px;
  padding-right: 25px;
  min-width: 244px;
  text-decoration: none; }

.show-phone a.active {
  opacity: 1;
  transition: 0.3s all ease;
  z-index: 100; }

.show-phone {
  position: relative; }

.search-icon {
  margin-right: -10px; }

.flexible-content-blocks {
  margin-top: 120px; }
