@use 'variables';
.hero_block .hero_block-video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 120px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden; }
  .hero_block .hero_block-video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 177.77777778vh;
    min-width: 101%;
    min-height: 56.25vw;
    transform: translate(-50%, -50%); }

.hero_block .content {
  height: 100vh; }
  .hero_block .content .content-inner {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .hero_block .content .content-inner sub {
      background: #EE7B00;
      font-size: 16px;
      border-bottom-right-radius: 25px;
      max-width: 335px;
      padding: 20px;
      color: #fff;
      font-weight: 500;
      margin-bottom: -24px;
      z-index: 30;
      display: block;
      position: relative; }
    .hero_block .content .content-inner .hero_content {
      background: #484847;
      max-width: 775px;
      padding: 50px;
      z-index: 10;
      display: block;
      position: relative;
      font-weight: 700;
      line-height: 52px;
      font-size: 48px; }
      .hero_block .content .content-inner .hero_content h1 {
        font-size: 48px;
        color: #fff;
        font-weight: 700;
        line-height: 52px;
        display: inline-block;
        position: relative; }
      .hero_block .content .content-inner .hero_content a {
        color: #ee7b00;
        display: inline-block;
        position: relative; }
        .hero_block .content .content-inner .hero_content a:hover {
          text-decoration: none;
          color: #ee7b00; }

.hero_block .hero_block.inner {
  height: 205px;
  background-size: 100%;
  background-position: center; }
  .hero_block .hero_block.inner .content {
    height: 100%;
    display: block;
    position: relative;
    top: 50px; }
    .hero_block .hero_block.inner .content .content-inner .hero_content h1 {
      display: inline; }
    .hero_block .hero_block.inner .content .content-inner .hero_content svg {
      display: inline;
      position: relative;
      top: -3px; }
    .hero_block .hero_block.inner .content .content-inner sub {
      bottom: 20px;
      margin-left: 50px; }

.hero_block .content .content-inner .hero_content h1 {
  display: inline; }

.hero_block-inner {
  background: #000000A4; }
