.column_container {
  background: #F4F4F4;
  border-radius: 0 0 25px 0; }
  .column_container .column_container-image {
    width: 100%; }
    .column_container .column_container-image img {
      width: 100%;
      height: auto; }
  .column_container .column_container-content {
    padding: 25px; }
    .column_container .column_container-content h2 {
      color: #EE7B00;
      font-size: 22px;
      font-weight: 700; }
    .column_container .column_container-content p {
      font-size: 16px;
      line-height: 25px;
      color: #484847; }
    .column_container .column_container-content .button {
      position: absolute; }

.column_container:hover .button {
  background: #484847; }

.button:hover {
  text-decoration: none; }

.page-id-171 .fancy-slider {
  margin-top: 80px; }
