@use 'variables';
.menu-primary-navigation-container ul {
  display: flex;
  list-style: none;
  margin-bottom: 0; }

.menu-primary-navigation-container ul li a {
  padding: 5px 0px;
  margin: 0 15px;
  color: #212529;
  border-bottom: 1px solid transparent; }

.menu-primary-navigation-container ul li a:hover {
  text-decoration: none;
  border-bottom: 1px solid #DCB12B; }

.current-menu-item a {
  color: #ee7b00 !important;
  font-weight: 600; }

ul#primary-navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  min-width: 895px;
  height: 12px;
  overflow: hidden;
  align-items: center; }
  ul#primary-navigation li {
    border-right: 1px solid #EE7B00;
    padding-right: 15px; }
    ul#primary-navigation li:last-child {
      border: 0; }
    ul#primary-navigation li a {
      color: #484847;
      font-size: 14px;
      text-transform: uppercase; }

ul#footer-navigation li {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul#footer-navigation li a {
    font-size: 16px;
    color: #FFFFFF; }
