@use 'variables';
.single-post .hero_block {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.single-post .the-content {
  padding-top: 60px;
  padding-bottom: 60px; }

.post_header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc; }
  .post_header-inner a {
    color: #484847; }
  .post_header-inner .breadcrumb_last {
    font-weight: 600;
    color: #EE7B00; }
  .post_header-inner svg {
    margin-right: 5px; }

.article-content a {
  color: #3C3C3B;
  font-size: 18px; }

.single-post .wysiwyg_block {
  padding-top: 0 !important; }

.anchor-point {
  padding-top: 15px; }

.article-content ul {
  padding: 0;
  padding-top: 15px; }

.article-content .icon {
  background: #DEDEDE;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 8px; }
  .article-content .icon.active {
    background: #EE7B00; }
  .article-content .icon a.active {
    font-weight: 600 !important; }

.article-content ul li {
  display: flex;
  align-items: center;
  justify-content: initial; }

.floating {
  position: fixed;
  right: 0;
  top: 0; }

.article-content a.active {
  font-weight: 600; }

.flexible-content-blocks + .flexible-content-blocks {
  margin-top: 0; }
