.stand_out-image {
  margin-top: 80px; }
  .stand_out-image .stand_out-content {
    background: #484847;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-left: 0; }
    .stand_out-image .stand_out-content:before {
      content: "";
      width: 300px;
      height: 500px;
      display: block;
      position: absolute;
      left: -285px;
      background: #484847; }
    .stand_out-image .stand_out-content sub {
      font-size: 22px;
      color: #fff;
      font-weight: 600;
      line-height: 1;
      display: block;
      position: relative;
      margin-bottom: 15px; }
      .stand_out-image .stand_out-content sub span {
        color: #ee7b00; }
    .stand_out-image .stand_out-content h2 {
      font-size: 36px;
      color: #EE7B00;
      font-weight: 600;
      margin-bottom: 15px; }
    .stand_out-image .stand_out-content p {
      color: #fff;
      font-size: 22px; }
  .stand_out-image img {
    width: 100%;
    height: auto; }

.stand-out-col {
  display: flex;
  align-items: center; }
