.wrapper {
  margin: 50px auto;
  overflow: hidden;
  padding: 20px;
  width: 100%; }

.data-one,
.data-two,
.data-three {
  float: left;
  display: inline; }

.circliful {
  position: relative; }

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
  width: 100%;
  position: absolute;
  text-align: center;
  display: inline-block; }

.circle-info {
  color: #999; }

.circliful .fa {
  margin: -10px 3px 0 3px;
  position: relative;
  bottom: 4px; }

.circles h3 {
  font-size: 21px;
  text-align: center;
  font-weight: 600;
  padding-top: 16px;
  display: block;
  position: relative; }

span.circle-text {
  color: #ee7b00;
  font-weight: 600;
  text-align: center; }

li.data-one.circliful {
  margin: 0 auto;
  text-align: center;
  display: block;
  position: relative; }

.circles {
  display: flex;
  flex-direction: column; }

.details {
  height: 75px;
  position: absolute;
  bottom: 20px;
  left: 40px;
  background: #484847;
  padding: 10px;
  width: 200px;
  z-index: 10; }
