.two_column_content {
  margin-top: 80px; }
  .two_column_content .preview-box {
    background: #F4F4F4;
    min-height: 250px;
    padding: 60px;
    border-radius: 0 0 50px 0;
    font-style: italic; }
    .two_column_content .preview-box strong {
      font-style: normal;
      color: #ee7b00; }
    .two_column_content .preview-box .button {
      position: absolute;
      bottom: -25px; }

.provided {
  display: block;
  position: relative;
  z-index: -10;
  margin-top: -630px;
  background: #F4F4F4;
  padding: 30px;
  border-radius: 0 0 25px 0; }

.provided h2 {
  font-size: 28px;
  margin-bottom: 30px;
  display: block;
  position: relative; }

.provided .list-item {
  padding-bottom: 10px; }

.provided .list-item svg {
  padding-right: 4px; }

.provided:before {
  content: "";
  background: #f4f4f4;
  width: 100%;
  height: 600px;
  display: block;
  z-index: -10; }
