@use 'variables';
.wysiwyg_block {
  padding-top: 90px; }

.wysiwyg_block p:last-of-type {
  margin-bottom: 0; }

h2 {
  font-size: 22px;
  color: #EE7B00;
  font-weight: 700; }

p {
  color: #464646;
  font-size: 18px;
  font-weight: 500; }
