
@use 'variables';
.testimonial-posts {
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonial-posts .testimonial-post-wrapper {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.testimonial-posts .testimonial-post-wrapper a {
  display: flex;
}

.testimonial-posts .testimonial-post {
  display: flex;
  align-items: center;
  transition: .2s;
  cursor: pointer;
  margin-bottom: 15px;
}

.testimonial-posts .testimonial-post > .wrapper {
  display: block;
  padding: 30px;
  background-color: #f1f1f1;
  flex-grow: 1;
}

.testimonial-posts .testimonial-post > .wrapper:hover {
  background-color: #ccc;
  transition: .2s;
}

.testimonial-posts a.permalink {
  flex-grow: 1;
}

.testimonial-posts a:hover {
  text-decoration: none;
}

.testimonial-post h3,
.testimonial-post p {
  color: #212529;
}

.testimonial-post p {
  margin-bottom: 0;
}

.testimonial-post img {
  width: 100%;
}

.testimonial-post .testimonial-content {
  display: flex;
  align-items: center;
}

.testimonial-posts .pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination .page-numbers {
  height: 50px;
  width: 50px;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  color: #212529;
}

.pagination .page-numbers:hover {
  background: #ddd;
}

.pagination .page-numbers.current {
  background: #ccc;
}
@use 'variables';
.blog-posts {
  padding-top: 60px;
  padding-bottom: 60px;
}

.blog-posts .blog-post-wrapper {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog-posts .blog-post-wrapper a {
  display: flex;
}

.blog-posts .blog-post {
  display: flex;
  align-items: center;
  transition: .2s;
  cursor: pointer;
  margin-bottom: 15px;
}

.blog-posts .blog-post > .wrapper {
  display: block;
  padding: 30px;
  background-color: #f1f1f1;
  flex-grow: 1;
}

.blog-posts .blog-post > .wrapper:hover {
  background-color: #ccc;
  transition: .2s;
}

.blog-posts a.permalink {
  flex-grow: 1;
}

.blog-posts a:hover {
  text-decoration: none;
}

.blog-post h3,
.blog-post p {
  color: #212529;
}

.blog-post p {
  margin-bottom: 0;
}

.blog-post img {
  width: 100%;
}

.blog-post .blog-content {
  display: flex;
  align-items: center;
}

.blog-posts .pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination .page-numbers {
  height: 50px;
  width: 50px;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  color: #212529;
}

.pagination .page-numbers:hover {
  background: #ddd;
}

.pagination .page-numbers.current {
  background: #ccc;
}

.cat_post-layout:hover {
  text-decoration: none;
}

.cat_post-layout:hover img {
  opacity: 0.75;
  transition: 0.3s all ease;
}

.cat_post-layout:hover a {
  text-decoration: none;
}

.cat_post-layout:hover a h2 {
  color: #464646;
  transition: 0.3s all ease;
}

.cat_post-layout:hover .button-primary {
  background: #464646;
  transition: 0.3s all ease;
}

.cat_post-layout img {
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: 0.3s all ease;
}

.cat_post-layout a h2 {
  color: #EE7B00;
  font-size: 22px;
  margin-top: 15px;
  transition: 0.3s all ease;
  text-transform: uppercase;
}

.cat_post-layout span {
  font-size: 16px;
  color: #464646;
  transition: 0.3s all ease;
}

.cat_post-layout span svg {
  margin-right: 10px;
  transition: 0.3s all ease;
}

.cat_post-layout .button-primary {
  display: block;
  max-width: 131px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: 0.3s all ease;
}

.archive .hero_block + .container {
  padding-top: 60px;
}

.category-filter label {
  color: #EE7B00;
  font-weight: 600;
  margin-right: 23px;
}

.select_category {
  background: #F4F4F4 !important;
  width: 340px;
  padding: 10px;
  border-radius: 0 0 25px 0 !important;
  border: 0 !important;
  padding-right: 4px !important;
}

.popular-posts {
  overflow: hidden;
}

.popular-posts .row {
  border-bottom: 1px solid #ccc;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.popular-posts h2 {
  background: #484847;
  padding: 15px;
  margin-top: 30px;
  color: #fff;
  font-size: 22px;
  border-radius: 0 0 25px 0;
}

.popular-posts h2 span {
  color: #EE7B00;
}

.popular-posts a {
  text-decoration: none;
}

.popular-posts a:hover {
  text-decoration: none;
}

.popular-posts a:hover img {
  opacity: 0.75;
  transition: 0.3s all ease;
}

.popular-posts a:hover h3 {
  color: #464646;
  transition: 0.3s all ease;
}

.popular-posts a:hover button svg {
  margin-left: 10px;
  transition: 0.3s all ease;
}

.popular-posts a img {
  width: 100%;
  height: auto;
  transition: 0.3s all ease;
}

.popular-posts a h3 {
  font-size: 15px;
  color: #EE7B00;
  transition: 0.3s all ease;
}

.popular-posts a span {
  color: #464646;
  font-size: 14px;
  transition: 0.3s all ease;
}

.popular-posts a button svg {
  margin-left: 5px;
  transition: 0.3s all ease;
}

.need_help-form {
  background: #484847;
  padding: 30px;
  border-radius: 0 0 25px 0;
  margin-top: 30px;
}

.need_help-form h2 {
  font-size: 40px;
}

.need_help-form p {
  color: #fff;
  font-size: 16px;
  color: #fff;
  font-style: italic;
}

.need_help-form input {
  border: 0;
}

.need_help-form select {
  border: 0;
}

span.page-numbers.current {
  background: #EE7B00 !important;
  color: #fff;
}

.pagination span,
.pagination a {
  border-radius: 11px;
  width: auto !important;
  padding: 22px;
}

.pagination a:hover {
  background: #EE7B00 !important;
  color: #fff;
  text-decoration: none;
}
@use 'variables';
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}

.blockquote-footer::before {
  content: "\2014\00A0";
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 90%;
  color: #6c757d;
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700;
}

pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.row-cols-1 > * {
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 50%;
  max-width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.row-cols-4 > * {
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 20%;
  max-width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-sm-first {
    order: -1;
  }

  .order-sm-last {
    order: 13;
  }

  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }

  .order-sm-4 {
    order: 4;
  }

  .order-sm-5 {
    order: 5;
  }

  .order-sm-6 {
    order: 6;
  }

  .order-sm-7 {
    order: 7;
  }

  .order-sm-8 {
    order: 8;
  }

  .order-sm-9 {
    order: 9;
  }

  .order-sm-10 {
    order: 10;
  }

  .order-sm-11 {
    order: 11;
  }

  .order-sm-12 {
    order: 12;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.33333%;
  }

  .offset-sm-2 {
    margin-left: 16.66667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.33333%;
  }

  .offset-sm-5 {
    margin-left: 41.66667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.33333%;
  }

  .offset-sm-8 {
    margin-left: 66.66667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.33333%;
  }

  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-md-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 13;
  }

  .order-md-0 {
    order: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }

  .order-md-11 {
    order: 11;
  }

  .order-md-12 {
    order: 12;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.33333%;
  }

  .offset-md-2 {
    margin-left: 16.66667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.33333%;
  }

  .offset-md-5 {
    margin-left: 41.66667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.33333%;
  }

  .offset-md-8 {
    margin-left: 66.66667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.33333%;
  }

  .offset-md-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-lg-first {
    order: -1;
  }

  .order-lg-last {
    order: 13;
  }

  .order-lg-0 {
    order: 0;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .order-lg-5 {
    order: 5;
  }

  .order-lg-6 {
    order: 6;
  }

  .order-lg-7 {
    order: 7;
  }

  .order-lg-8 {
    order: 8;
  }

  .order-lg-9 {
    order: 9;
  }

  .order-lg-10 {
    order: 10;
  }

  .order-lg-11 {
    order: 11;
  }

  .order-lg-12 {
    order: 12;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.33333%;
  }

  .offset-lg-2 {
    margin-left: 16.66667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333%;
  }

  .offset-lg-5 {
    margin-left: 41.66667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333%;
  }

  .offset-lg-8 {
    margin-left: 66.66667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333%;
  }

  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-xl-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-xl-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-xl-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .row-cols-xl-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-xl-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-xl-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xl-first {
    order: -1;
  }

  .order-xl-last {
    order: 13;
  }

  .order-xl-0 {
    order: 0;
  }

  .order-xl-1 {
    order: 1;
  }

  .order-xl-2 {
    order: 2;
  }

  .order-xl-3 {
    order: 3;
  }

  .order-xl-4 {
    order: 4;
  }

  .order-xl-5 {
    order: 5;
  }

  .order-xl-6 {
    order: 6;
  }

  .order-xl-7 {
    order: 7;
  }

  .order-xl-8 {
    order: 8;
  }

  .order-xl-9 {
    order: 9;
  }

  .order-xl-10 {
    order: 10;
  }

  .order-xl-11 {
    order: 11;
  }

  .order-xl-12 {
    order: 12;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.33333%;
  }

  .offset-xl-2 {
    margin-left: 16.66667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333%;
  }

  .offset-xl-5 {
    margin-left: 41.66667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333%;
  }

  .offset-xl-8 {
    margin-left: 66.66667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333%;
  }

  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.button {
  border-radius: 0 0 25px 0;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding: 20px;
}

.button.button-primary {
  background: #EE7B00;
  color: #fff;
}

.button.no-button {
  color: #464646;
  font-size: 14px;
  padding: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
  display: block;
  font-weight: 600;
  padding-top: 10px;
}

.forminator-button-submit {
  color: #fff;
}

.case-studies-header {
  background: #000;
  padding: 30px;
  font-size: 32px;
  color: #fff;
  text-align: center;
}

.filters li {
  border-right: 1px solid #fff;
  padding-right: 48px;
}

.filters li:last-child {
  border: 0;
  padding: 0;
}

.filters li a:hover {
  color: #fff;
}

.pagination span,
.pagination a {
  display: inline-block !important;
  width: auto !important;
  padding: 20px !important;
  padding-top: 14px !important;
}
.case-study_content {
  display: flex;
  align-items: end;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.case-study_content .case-study_content_inner {
  background: #484847;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 45px;
  margin-left: 30px;
  z-index: 10;
}

.case-study_content .case-study_content_inner h3 {
  color: #EE7B00;
  font-size: 22px;
  font-weight: 600;
}

.case-study_content .case-study_content_inner p {
  font-size: 16px;
  color: #fff;
}

.case-study {
  overflow: hidden;
}

.case-study a:hover {
  text-decoration: none;
}

.case-study .item {
  background-size: 100%;
  transition: 0.3s all ease;
}

.case-study .item:hover {
  background-size: 120%;
  transition: 0.3s all ease;
  text-decoration: none;
}

.case-study.small:first-child {
  margin-bottom: 30px;
}

.container {
  max-width: 1400px !important;
  width: 100%;
}

.filters .filters {
  max-width: 1035px;
  margin: 0 auto;
}

.border-line {
  width: 100%;
  position: absolute;
  border-top: 2px solid #fff;
  bottom: 105px;
  z-index: 1;
}

.col-md-8 .case-study {
  height: 700px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.col-md-4 .case-study {
  height: 335px;
  margin-top: 30px;
}

.col-md-4 .case-study:first-child {
  margin-bottom: 30px !important;
}

.filters {
  background: #484847;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.filters a {
  color: #fff;
}

.case-study-slider .slick-slide {
  position: relative !important;
  height: 100% !important;
}

.case-study-slider .slick-slide div {
  display: none !important;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute !important;
}

.case-study-slider .slick-slide.slick-center div {
  display: flex !important;
}
@use 'variables';
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.spacing {
  padding-top: 60px;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  width: 100%;
}

.container.no-gutters {
  padding: 0;
}

.container .container {
  padding: 0;
}

.row {
  flex-grow: 1;
}
.forminator-label {
  display: none !important;
}

input,
select,
textarea {
  border-radius: 20px !important;
  border: 2px solid #707072 !important;
  background: #fff !important;
}

span.selection {
  border: 0 !important;
}

span.select2-selection.select2-selection--single {
  border: 2px solid #707072 !important;
  border-radius: 20px;
  background: #fff !important;
}

span.forminator-icon-chevron-down {
  background: #EE7B00;
  padding: 5px;
  border-radius: 100%;
  color: #fff;
}

span.forminator-select-dropdown.forminator-custom-form-158.forminator-dropdown--default.forminator-select-dropdown--below {
  background: #fff;
  border: 2px solid #EE7B00;
}

button.forminator-button.forminator-button-submit {
  background-color: #ee7b00 !important;
  width: 100% !important;
  text-align: left !important;
  border-radius: 100px !important;
  padding-left: 30px !important;
  border: 2px solid #ee7b00 !important;
}

button.forminator-button.forminator-button-submit:hover {
  color: #ee7b00 !important;
  background: #fff !important;
  box-shadow: none !important;
}

ul,
li {
  list-style: none;
}

ul li img {
  max-width: 30px;
  margin-right: 10px;
}

.two_column_content li {
  margin-bottom: 10px;
}

.two_column_content li img,
.two_column_content li h3 {
  display: inline-block;
  position: relative;
}

.two_column_content h3 {
  color: #EE7B00;
  font-weight: 600;
  font-size: 26px;
  top: 5px;
}

.two_column_content li a {
  color: #484847;
  font-weight: 600;
  font-size: 26px;
  top: 5px;
  display: inline-block;
  position: relative;
}
.fancy-slider {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.fancy-slider svg {
  width: 95%;
}

.large-circle {
  height: 600px;
  width: 600px;
  border-radius: 100%;
  border: 25px solid #484847;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle {
  width: 75%;
  height: 75%;
  border: 2px solid grey;
  border-radius: 100%;
}

.float {
  border: 2px solid #EE7B00;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-container {
  margin-top: 60px;
  min-height: 570px;
  background-size: cover !important;
  background-repeat: no-repeat;
  border-top: 15px solid #EE7B00;
  border-radius: 0 0 25px 0;
  transition: 0.3s all ease;
  overflow: hidden;
  cursor: pointer;
}

.post-container .post-container-inner {
  background: #F4F4F4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  min-height: 570px;
}

.post-container .post-container-inner a svg {
  top: -1px;
  display: inline-block;
  position: relative;
  transition: 0.3s all ease;
  margin-left: 3px;
}

.post-container .post-container-inner span {
  padding-bottom: 5px;
}

.post-container .post-container-inner span svg {
  margin-right: 5px;
}

.post-container .line {
  padding-top: 15px;
  padding-bottom: 15px;
}

.post-container .line:after {
  content: "";
  height: 2px;
  width: 110%;
  background: #fff;
  display: block;
  position: relative;
  right: 0%;
}

.post-container a {
  color: #484847;
}

.post-container:hover {
  transition: 0.3s all ease;
  background: #000000CC;
}

.post-container:hover span {
  color: #fff;
}

.post-container:hover p {
  color: #fff;
}

.post-container:hover a {
  color: #fff;
  text-decoration: none;
}

.post-container:hover a svg {
  margin-left: 5px;
  transition: 0.3s all ease;
}

.post-container:hover .post-container-inner {
  transition: 0.3s all ease;
  background: #000000B3;
}
@use 'variables';
.footer-content {
  padding: 30px;
  background: #ee7b00;
  border-radius: 0 0 25px;
  text-align: center;
  color: #fff;
  margin-bottom: -95px;
  z-index: 100;
  background: #ee7b00;
  border-radius: 0 0 25px;
  text-align: center;
  color: #fff;
  display: block;
  position: relative;
  margin-top: 60px;
}

.footer-content h2 {
  color: #fff;
  font-size: 48px;
}

footer {
  background: #484847;
  padding-top: 180px;
  padding-bottom: 60px;
  color: #fff;
}

footer p {
  font-size: 16px;
  color: #fff;
}

footer p span:first-child {
  color: #ee7b00;
}

footer .container .footer-logo {
  margin-bottom: 30px;
}

footer .col-6 {
  display: flex;
}

footer .col-6:first-of-type {
  justify-content: flex-start;
}

footer .col-6:last-of-type {
  justify-content: flex-end;
}

.footer-constants {
  display: block;
}

.small-print {
  display: flex;
}

.small-print a {
  padding: 0 12px;
  color: #fff;
  line-height: 14px;
}

.small-print a:first-of-type {
  padding-left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.small-print a:hover {
  text-decoration: none;
  color: #DCB12B;
}

.contact-wrapper {
  display: block;
}

.contact-wrapper p {
  margin-bottom: 0;
}

.contact-wrapper a {
  display: block;
  color: #fff;
  text-align: right;
}

.contact-wrapper a:hover {
  text-decoration: none;
  color: #DCB12B;
}

.contact-details a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
  margin-left: 5px;
}

.contact-details {
  max-width: 607px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.credits-inner {
  color: #484847;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.credits-inner a {
  color: #484847;
}

ul#footer-navigation li a {
  font-size: 16px;
  color: #fff !important;
  font-weight: 500;
  margin-bottom: 5px !important;
  display: block;
}
@use 'variables';
.forminator-custom-form {
  display: block !important;
}
@use 'variables';
.gallery_block {
  padding-bottom: 60px;
}

.gallery_block img {
  max-width: 100%;
}

/*.multiple-items .slick-slide > div > div {
	padding: 0 15px;
}*/
@use 'variables';
header {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 -6px 8px #000000a4;
  border-bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container img {
  max-height: 120px;
}

.icons div {
  display: inline-block;
  padding-right: 5px;
}

.icons div:last-child {
  padding-right: 0;
}

.icons svg {
  cursor: pointer;
}

input.form-control {
  padding: 8px;
  border-radius: 100px !important;
  position: absolute;
  left: -221px;
  top: -5px;
  opacity: 0;
  transition: 0.3s all ease;
  z-index: -1;
}

input.form-control.active {
  opacity: 1 !important;
  z-index: 100;
}

.search-icon {
  position: relative;
}

.right-container div {
  display: inline-block;
}

.show-phone a {
  opacity: 0;
  z-index: -1;
  transition: .3s all ease;
  background: #ee7b00 !important;
  color: #fff;
  padding: 10px;
  border-radius: 100px;
  position: absolute;
  padding-left: 25px;
  top: -25px;
  left: -240px;
  padding-right: 25px;
  min-width: 244px;
  text-decoration: none;
}

.show-phone a.active {
  opacity: 1;
  transition: 0.3s all ease;
  z-index: 100;
}

.show-phone {
  position: relative;
}

.search-icon {
  margin-right: -10px;
}

.flexible-content-blocks {
  margin-top: 120px;
}
@use 'variables';
.hero_block .hero_block-video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 120px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.hero_block .hero_block-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 177.77777778vh;
  min-width: 101%;
  min-height: 56.25vw;
  transform: translate(-50%, -50%);
}

.hero_block .content {
  height: 100vh;
}

.hero_block .content .content-inner {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero_block .content .content-inner sub {
  background: #EE7B00;
  font-size: 16px;
  border-bottom-right-radius: 25px;
  max-width: 335px;
  padding: 20px;
  color: #fff;
  font-weight: 500;
  margin-bottom: -24px;
  z-index: 30;
  display: block;
  position: relative;
}

.hero_block .content .content-inner .hero_content {
  background: #484847;
  max-width: 775px;
  padding: 50px;
  z-index: 10;
  display: block;
  position: relative;
  font-weight: 700;
  line-height: 52px;
  font-size: 48px;
}

.hero_block .content .content-inner .hero_content h1 {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  line-height: 52px;
  display: inline-block;
  position: relative;
}

.hero_block .content .content-inner .hero_content a {
  color: #ee7b00;
  display: inline-block;
  position: relative;
}

.hero_block .content .content-inner .hero_content a:hover {
  text-decoration: none;
  color: #ee7b00;
}

.hero_block .hero_block.inner {
  height: 205px;
  background-size: 100%;
  background-position: center;
}

.hero_block .hero_block.inner .content {
  height: 100%;
  display: block;
  position: relative;
  top: 50px;
}

.hero_block .hero_block.inner .content .content-inner .hero_content h1 {
  display: inline;
}

.hero_block .hero_block.inner .content .content-inner .hero_content svg {
  display: inline;
  position: relative;
  top: -3px;
}

.hero_block .hero_block.inner .content .content-inner sub {
  bottom: 20px;
  margin-left: 50px;
}

.hero_block .content .content-inner .hero_content h1 {
  display: inline;
}

.hero_block-inner {
  background: #000000A4;
}
.column_container {
  background: #F4F4F4;
  border-radius: 0 0 25px 0;
}

.column_container .column_container-image {
  width: 100%;
}

.column_container .column_container-image img {
  width: 100%;
  height: auto;
}

.column_container .column_container-content {
  padding: 25px;
}

.column_container .column_container-content h2 {
  color: #EE7B00;
  font-size: 22px;
  font-weight: 700;
}

.column_container .column_container-content p {
  font-size: 16px;
  line-height: 25px;
  color: #484847;
}

.column_container .column_container-content .button {
  position: absolute;
}

.column_container:hover .button {
  background: #484847;
}

.button:hover {
  text-decoration: none;
}

.page-id-171 .fancy-slider {
  margin-top: 80px;
}
.map-container img {
  width: 100%;
}

.map-container .pin {
  max-width: 30px;
}

.col-md-4.solutions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.solutions_content sub {
  line-height: 1;
  font-weight: 600;
  padding-bottom: 15px;
  display: block;
  font-size: 16px;
}

.solutions_content h2 {
  padding-bottom: 5px;
  font-size: 36px;
}

.solutions_content p {
  font-size: 16px;
}

.map {
  margin-bottom: 60px;
}
@use 'variables';
.menu-primary-navigation-container ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.menu-primary-navigation-container ul li a {
  padding: 5px 0px;
  margin: 0 15px;
  color: #212529;
  border-bottom: 1px solid transparent;
}

.menu-primary-navigation-container ul li a:hover {
  text-decoration: none;
  border-bottom: 1px solid #DCB12B;
}

.current-menu-item a {
  color: #ee7b00 !important;
  font-weight: 600;
}

ul#primary-navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  min-width: 895px;
  height: 12px;
  overflow: hidden;
  align-items: center;
}

ul#primary-navigation li {
  border-right: 1px solid #EE7B00;
  padding-right: 15px;
}

ul#primary-navigation li:last-child {
  border: 0;
}

ul#primary-navigation li a {
  color: #484847;
  font-size: 14px;
  text-transform: uppercase;
}

ul#footer-navigation li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul#footer-navigation li a {
  font-size: 16px;
  color: #FFFFFF;
}
@use 'variables';
.page_not_found {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
}

.page_not_found .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.page_not_found .container .wrapper {
  display: block;
}
.details {
  height: 75px;
  position: absolute;
  bottom: 20px;
  left: 40px;
  background: #484847;
  padding: 10px;
  width: 200px;
}

.person {
  height: 400px;
  background-size: 100%;
  background-position: center;
  display: flex;
  border-top: 10px solid #ee7b00;
  border-radius: 0 0 33px 0;
}

.details h3 {
  color: #EE7B00;
  font-size: 20px;
  font-weight: 600;
}

.details sub {
  color: #fff;
}

.person .line {
  width: 100%;
  height: 2px;
  background: #fff;
  bottom: 59px;
  position: absolute;
}

.person {
  overflow: hidden;
}
.case-study-detail {
  background: #F4F4F4;
  border-radius: 0 0 25px;
  margin-bottom: 15px;
  padding: 15px;
}

.case-study-detail label {
  font-weight: 700;
  color: #EE7B00;
  padding-right: 3px;
}

.slickslider {
  overflow: hidden;
}

.slicksliders .slick-slide {
  width: 600px !important;
  transition: 0.3s all ease;
}

.slicksliders .slick-slide img {
  width: 100% !important;
  padding: 30px !important;
}

.slicksliders .slick-slide.slick-center {
  width: 800px !important;
  transition: 0.3s all ease;
}

.slicksliders .slick-slide.slick-center img {
  width: 100% !important;
  padding: 30px !important;
}

.plot-point {
  z-index: 901;
  display: none !important;
}

.slick-center .plot-point {
  display: block;
}

.plot-point:hover .point-hover {
  opacity: 1;
  transition: 0.3s all ease;
  z-index: 900;
}

.point-hover {
  opacity: 0;
  transition: 0.3s all ease;
  z-index: -1;
  position: absolute;
  background: #F4F4F4;
  display: flex;
  flex-direction: column;
  padding: 11px;
  width: 273px;
  border-radius: 0 0 25px 0;
  height: initial !important;
  margin-top: 113px;
  margin-left: -283px;
  z-index: 10;
}

.point-hover h3 {
  font-size: 16px;
  font-weight: 600;
  color: #EE7B00;
}

.point-hover p {
  font-size: 14px;
}

.grey-quote-box {
  background: #484847;
}

.grey-quote-box p {
  color: #fff;
}

.grey-quote-box {
  padding-top: 300px;
  border-radius: 0 0 300px 0;
  padding-left: 100px;
  padding-right: 225px;
  padding-bottom: 80px;
  margin-top: -245px;
  position: relative;
  z-index: -1;
}

.grey-quote-box:before {
  background: #484847;
  content: "";
  height: 100%;
  width: 500px;
  display: block;
  position: relative;
  z-index: -1;
  left: -200px;
  top: 0;
  position: absolute;
}

.bar {
  background: #ee7b00;
  display: inline-block;
  padding: 10px;
  border-radius: 0 0 25px 0;
  padding-right: 30px;
  padding-right: 30px;
  margin-left: 30px;
}

.contact-bar {
  padding-left: 60px;
  margin-top: -25px;
}

.bar a {
  color: #fff;
  text-decoration: none;
}
@use 'variables';
.single-post .hero_block {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.single-post .the-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.post_header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.post_header-inner a {
  color: #484847;
}

.post_header-inner .breadcrumb_last {
  font-weight: 600;
  color: #EE7B00;
}

.post_header-inner svg {
  margin-right: 5px;
}

.article-content a {
  color: #3C3C3B;
  font-size: 18px;
}

.single-post .wysiwyg_block {
  padding-top: 0 !important;
}

.anchor-point {
  padding-top: 15px;
}

.article-content ul {
  padding: 0;
  padding-top: 15px;
}

.article-content .icon {
  background: #DEDEDE;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 8px;
}

.article-content .icon.active {
  background: #EE7B00;
}

.article-content .icon a.active {
  font-weight: 600 !important;
}

.article-content ul li {
  display: flex;
  align-items: center;
  justify-content: initial;
}

.floating {
  position: fixed;
  right: 0;
  top: 0;
}

.article-content a.active {
  font-weight: 600;
}

.flexible-content-blocks + .flexible-content-blocks {
  margin-top: 0;
}
@charset "UTF-8";

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url("../../ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
  font-family: "slick";
  src: url("../../fonts/slick.eot");
  src: url("../../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../../fonts/slick.woff") format("woff"), url("../../fonts/slick.ttf") format("truetype"), url("../../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.multiple-items {
  height: 140px;
}

button.slick-prev.slick-arrow {
  background-image: url("../../../../../../../../../../../wp-content/themes/hills/assets/img/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}

button.slick-prev.slick-arrow:before {
  display: none;
}

button.slick-next.slick-arrow {
  background-image: url("../../../../../../../../../../../wp-content/themes/hills/assets/img/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

button.slick-next.slick-arrow:before {
  display: none;
}

.slick-slide div {
  display: flex !important;
  height: 100%;
  justify-content: center;
  align-items: center;
}

button.slick-next.slick-arrow {
  margin-top: -10px;
}
.stand_out-image {
  margin-top: 80px;
}

.stand_out-image .stand_out-content {
  background: #484847;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-left: 0;
}

.stand_out-image .stand_out-content:before {
  content: "";
  width: 300px;
  height: 500px;
  display: block;
  position: absolute;
  left: -285px;
  background: #484847;
}

.stand_out-image .stand_out-content sub {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  line-height: 1;
  display: block;
  position: relative;
  margin-bottom: 15px;
}

.stand_out-image .stand_out-content sub span {
  color: #ee7b00;
}

.stand_out-image .stand_out-content h2 {
  font-size: 36px;
  color: #EE7B00;
  font-weight: 600;
  margin-bottom: 15px;
}

.stand_out-image .stand_out-content p {
  color: #fff;
  font-size: 22px;
}

.stand_out-image img {
  width: 100%;
  height: auto;
}

.stand-out-col {
  display: flex;
  align-items: center;
}
.wrapper {
  margin: 50px auto;
  overflow: hidden;
  padding: 20px;
  width: 100%;
}

.data-one,
.data-two,
.data-three {
  float: left;
  display: inline;
}

.circliful {
  position: relative;
}

.circle-text,
.circle-info,
.circle-text-half,
.circle-info-half {
  width: 100%;
  position: absolute;
  text-align: center;
  display: inline-block;
}

.circle-info {
  color: #999;
}

.circliful .fa {
  margin: -10px 3px 0 3px;
  position: relative;
  bottom: 4px;
}

.circles h3 {
  font-size: 21px;
  text-align: center;
  font-weight: 600;
  padding-top: 16px;
  display: block;
  position: relative;
}

span.circle-text {
  color: #ee7b00;
  font-weight: 600;
  text-align: center;
}

li.data-one.circliful {
  margin: 0 auto;
  text-align: center;
  display: block;
  position: relative;
}

.circles {
  display: flex;
  flex-direction: column;
}

.details {
  height: 75px;
  position: absolute;
  bottom: 20px;
  left: 40px;
  background: #484847;
  padding: 10px;
  width: 200px;
  z-index: 10;
}
.two_column_content {
  margin-top: 80px;
}

.two_column_content .preview-box {
  background: #F4F4F4;
  min-height: 250px;
  padding: 60px;
  border-radius: 0 0 50px 0;
  font-style: italic;
}

.two_column_content .preview-box strong {
  font-style: normal;
  color: #ee7b00;
}

.two_column_content .preview-box .button {
  position: absolute;
  bottom: -25px;
}

.provided {
  display: block;
  position: relative;
  z-index: -10;
  margin-top: -630px;
  background: #F4F4F4;
  padding: 30px;
  border-radius: 0 0 25px 0;
}

.provided h2 {
  font-size: 28px;
  margin-bottom: 30px;
  display: block;
  position: relative;
}

.provided .list-item {
  padding-bottom: 10px;
}

.provided .list-item svg {
  padding-right: 4px;
}

.provided:before {
  content: "";
  background: #f4f4f4;
  width: 100%;
  height: 600px;
  display: block;
  z-index: -10;
}

@use 'variables';
.wysiwyg_block {
  padding-top: 90px;
}

.wysiwyg_block p:last-of-type {
  margin-bottom: 0;
}

h2 {
  font-size: 22px;
  color: #EE7B00;
  font-weight: 700;
}

p {
  color: #464646;
  font-size: 18px;
  font-weight: 500;
}